.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.7em;
}

.flex {
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 2em;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.gap {
    gap: 1em;
}

.App {
    height: 100vh;
}

.py {
    padding-block: 1em;
}

.close {
    width: 100%;
    text-align: end;
}
